.MuiToolbar-root {
  display: inline;
  align-items: center; /* Căn giữa theo chiều dọc */
  min-height: 64px; /* Chiều cao tối thiểu */
  padding: 0 0; /* Padding mặc định */
  box-sizing: border-box; /* Đảm bảo padding không ảnh hưởng đến chiều rộng */
}